/* #825A16
#FEBB91
#FFFD38 */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: black;
   font-family: "Poppins", sans-serif;
   font-weight: 200;
   color: red;
}

.container {
   position: relative;
   width: 80%;
   max-width: 1000px;
   margin: 10% auto;
}

h1 {
   font-size: 1rem;
   font-weight: 200;
   width: 16em;
   margin: 0 auto;
   text-align: center;
}

h1 span {
   font-weight: 400;
}

.text-container {
   width: 16em;
   margin: 0 auto;
   font-size: 0.8rem;
}

.click-me-text {
   display: inline-block;
   padding-right: 4px;
}

.mario-container-1, .mario-container-2 {
   position: relative;

   width: 16em;
   height: 16em;
   margin: 10% auto 2%;

   cursor: help;
}

.mario {
   width: 1em;
   height: 1em;

   box-shadow: 0em 0em transparent,
   1em 0em transparent,
   2em 0em transparent,
   3em 0em transparent,
   4em 0em transparent,
   5em 0em red,
   6em 0em red,
   7em 0em red,
   8em 0em red,
   9em 0em red,
   10em 0em transparent,
   11em 0em transparent,
   12em 0em transparent,
   13em 0em transparent,
   14em 0em transparent,
   15em 0em transparent,

   0em 1em transparent,
   1em 1em transparent,
   2em 1em transparent,
   3em 1em transparent,
   4em 1em red,
   5em 1em red,
   6em 1em red,
   7em 1em red,
   8em 1em red,
   9em 1em red,
   10em 1em red,
   11em 1em red,
   12em 1em red,
   13em 1em transparent,
   14em 1em transparent,
   15em 1em transparent,

   0em 2em transparent,
   1em 2em transparent,
   2em 2em transparent,
   3em 2em transparent,
   4em 2em #825A16,
   5em 2em #825A16,
   6em 2em #825A16,
   7em 2em #FEBB91,
   8em 2em #FEBB91,
   9em 2em black,
   10em 2em #FEBB91,
   11em 2em transparent,
   12em 2em transparent,
   13em 2em transparent,
   14em 2em transparent,
   15em 2em transparent,

   0em 3em transparent,
   1em 3em transparent,
   2em 3em transparent,
   3em 3em #825A16,
   4em 3em #FEBB91,
   5em 3em #825A16,
   6em 3em #FEBB91,
   7em 3em #FEBB91,
   8em 3em #FEBB91,
   9em 3em black,
   10em 3em #FEBB91,
   11em 3em #FEBB91,
   12em 3em transparent,
   13em 3em transparent,
   14em 3em transparent,
   15em 3em transparent,

   0em 4em transparent,
   1em 4em transparent,
   2em 4em transparent,
   3em 4em #825A16,
   4em 4em #FEBB91,
   5em 4em #825A16,
   6em 4em #825A16,
   7em 4em #FEBB91,
   8em 4em #FEBB91,
   9em 4em #FEBB91,
   10em 4em black,
   11em 4em #FEBB91,
   12em 4em #FEBB91,
   13em 4em transparent,
   14em 4em transparent,
   15em 4em transparent,

   0em 5em transparent,
   1em 5em transparent,
   2em 5em transparent,
   3em 5em transparent,
   4em 5em #825A16,
   5em 5em #FEBB91,
   6em 5em #FEBB91,
   7em 5em #FEBB91,
   8em 5em #FEBB91,
   9em 5em black,
   10em 5em black,
   11em 5em black,
   12em 5em transparent,
   13em 5em transparent,
   14em 5em transparent,
   15em 5em transparent,

   0em 6em transparent,
   1em 6em transparent,
   2em 6em transparent,
   3em 6em transparent,
   4em 6em transparent,
   5em 6em #FEBB91,
   6em 6em #FEBB91,
   7em 6em #FEBB91,
   8em 6em #FEBB91,
   9em 6em #FEBB91,
   10em 6em #FEBB91,
   11em 6em transparent,
   12em 6em transparent,
   13em 6em transparent,
   14em 6em transparent,
   15em 6em transparent,

   0em 7em transparent,
   1em 7em transparent,
   2em 7em transparent,
   3em 7em transparent,
   4em 7em red,
   5em 7em red,
   6em 7em blue,
   7em 7em red,
   8em 7em red,
   9em 7em blue,
   10em 7em red,
   11em 7em red,
   12em 7em transparent,
   13em 7em transparent,
   14em 7em transparent,
   15em 7em transparent,

   0em 8em transparent,
   1em 8em transparent,
   2em 8em transparent,
   3em 8em red,
   4em 8em red,
   5em 8em red,
   6em 8em blue,
   7em 8em red,
   8em 8em red,
   9em 8em blue,
   10em 8em red,
   11em 8em red,
   12em 8em red,
   13em 8em transparent,
   14em 8em transparent,
   15em 8em transparent,

   0em 9em transparent,
   1em 9em transparent,
   2em 9em red,
   3em 9em red,
   4em 9em red,
   5em 9em red,
   6em 9em blue,
   7em 9em blue,
   8em 9em blue,
   9em 9em blue,
   10em 9em red,
   11em 9em red,
   12em 9em red,
   13em 9em red,
   14em 9em transparent,
   15em 9em transparent,

   0em 10em transparent,
   1em 10em transparent,
   2em 10em #FEBB91,
   3em 10em #FEBB91,
   4em 10em red,
   5em 10em blue,
   6em 10em #FFFD38,
   7em 10em blue,
   8em 10em blue,
   9em 10em #FFFD38,
   10em 10em blue,
   11em 10em red,
   12em 10em #FEBB91,
   13em 10em #FEBB91,
   14em 10em transparent,
   15em 10em transparent,

   0em 11em transparent,
   1em 11em transparent,
   2em 11em #FEBB91,
   3em 11em #FEBB91,
   4em 11em #FEBB91,
   5em 11em blue,
   6em 11em blue,
   7em 11em blue,
   8em 11em blue,
   9em 11em blue,
   10em 11em blue,
   11em 11em #FEBB91,
   12em 11em #FEBB91,
   13em 11em #FEBB91,
   14em 11em transparent,
   15em 11em transparent,

   0em 12em transparent,
   1em 12em transparent,
   2em 12em #FEBB91,
   3em 12em #FEBB91,
   4em 12em blue,
   5em 12em blue,
   6em 12em blue,
   7em 12em blue,
   8em 12em blue,
   9em 12em blue,
   10em 12em blue,
   11em 12em blue,
   12em 12em #FEBB91,
   13em 12em #FEBB91,
   14em 12em transparent,
   15em 12em transparent,

   0em 13em transparent,
   1em 13em transparent,
   2em 13em transparent,
   3em 13em transparent,
   4em 13em blue,
   5em 13em blue,
   6em 13em blue,
   7em 13em transparent,
   8em 13em transparent,
   9em 13em blue,
   10em 13em blue,
   11em 13em blue,
   12em 13em transparent,
   13em 13em transparent,
   14em 13em transparent,
   15em 13em transparent,

   0em 14em transparent,
   1em 14em transparent,
   2em 14em transparent,
   3em 14em transparent,
   4em 14em #825A16,
   5em 14em #825A16,
   6em 14em #825A16,
   7em 14em transparent,
   8em 14em transparent,
   9em 14em #825A16,
   10em 14em #825A16,
   11em 14em #825A16,
   12em 14em transparent,
   13em 14em transparent,
   14em 14em transparent,
   15em 14em transparent,

   0em 15em transparent,
   1em 15em transparent,
   2em 15em transparent,
   3em 15em #825A16,
   4em 15em #825A16,
   5em 15em #825A16,
   6em 15em #825A16,
   7em 15em transparent,
   8em 15em transparent,
   9em 15em #825A16,
   10em 15em #825A16,
   11em 15em #825A16,
   12em 15em #825A16,
   13em 15em transparent,
   14em 15em transparent,
   15em 15em transparent;
}

.mario-2 {
   width: 1em;
   height: 1em;

   box-shadow: 0em 0em transparent,
   1em 0em transparent,
   2em 0em transparent,
   3em 0em transparent,
   4em 0em transparent,
   5em 0em transparent,
   6em 0em transparent,
   7em 0em transparent,
   8em 0em transparent,
   9em 0em transparent,
   10em 0em transparent,
   11em 0em transparent,
   12em 0em transparent,
   13em 0em transparent,
   14em 0em transparent,
   15em 0em transparent,

   0em 1em transparent,
   1em 1em transparent,
   2em 1em transparent,
   3em 1em transparent,
   4em 1em transparent,
   5em 1em red,
   6em 1em red,
   7em 1em red,
   8em 1em red,
   9em 1em red,
   10em 1em transparent,
   11em 1em transparent,
   12em 1em #FEBB91,
   13em 1em #FEBB91,
   14em 1em #FEBB91,
   15em 1em transparent,

   0em 2em transparent,
   1em 2em transparent,
   2em 2em transparent,
   3em 2em transparent,
   4em 2em red,
   5em 2em red,
   6em 2em red,
   7em 2em red,
   8em 2em red,
   9em 2em red,
   10em 2em red,
   11em 2em red,
   12em 2em red,
   13em 2em #FEBB91,
   14em 2em #FEBB91,
   15em 2em transparent,

   0em 3em transparent,
   1em 3em transparent,
   2em 3em transparent,
   3em 3em transparent,
   4em 3em #825A16,
   5em 3em #825A16,
   6em 3em #825A16,
   7em 3em #FEBB91,
   8em 3em #FEBB91,
   9em 3em black,
   10em 3em #FEBB91,
   11em 3em transparent,
   12em 3em red,
   13em 3em red,
   14em 3em red,
   15em 3em transparent,

   0em 4em transparent,
   1em 4em transparent,
   2em 4em transparent,
   3em 4em #825A16,
   4em 4em #FEBB91,
   5em 4em #825A16,
   6em 4em #FEBB91,
   7em 4em #FEBB91,
   8em 4em #FEBB91,
   9em 4em black,
   10em 4em #FEBB91,
   11em 4em #FEBB91,
   12em 4em #FEBB91,
   13em 4em red,
   14em 4em red,
   15em 4em transparent,

   0em 5em transparent,
   1em 5em transparent,
   2em 5em transparent,
   3em 5em #825A16,
   4em 5em #FEBB91,
   5em 5em #825A16,
   6em 5em #825A16,
   7em 5em #FEBB91,
   8em 5em #FEBB91,
   9em 5em #FEBB91,
   10em 5em black,
   11em 5em #FEBB91,
   12em 5em #FEBB91,
   13em 5em #FEBB91,
   14em 5em red,
   15em 5em transparent,

   0em 6em transparent,
   1em 6em transparent,
   2em 6em transparent,
   3em 6em #825A16,
   4em 6em #825A16,
   5em 6em #FEBB91,
   6em 6em #FEBB91,
   7em 6em #FEBB91,
   8em 6em #FEBB91,
   9em 6em black,
   10em 6em black,
   11em 6em black,
   12em 6em black,
   13em 6em red,
   14em 6em transparent,
   15em 6em transparent,

   0em 7em transparent,
   1em 7em transparent,
   2em 7em transparent,
   3em 7em transparent,
   4em 7em transparent,
   5em 7em #FEBB91,
   6em 7em #FEBB91,
   7em 7em #FEBB91,
   8em 7em #FEBB91,
   9em 7em #FEBB91,
   10em 7em #FEBB91,
   11em 7em #FEBB91,
   12em 7em red,
   13em 7em red,
   14em 7em transparent,
   15em 7em transparent,

   0em 8em transparent,
   1em 8em transparent,
   2em 8em red,
   3em 8em red,
   4em 8em red,
   5em 8em red,
   6em 8em blue,
   7em 8em red,
   8em 8em red,
   9em 8em red,
   10em 8em blue,
   11em 8em red,
   12em 8em red,
   13em 8em transparent,
   14em 8em transparent,
   15em 8em #825A16,

   0em 9em #FEBB91,
   1em 9em #FEBB91,
   2em 9em red,
   3em 9em red,
   4em 9em red,
   5em 9em red,
   6em 9em red,
   7em 9em blue,
   8em 9em red,
   9em 9em red,
   10em 9em red,
   11em 9em blue,
   12em 9em transparent,
   13em 9em transparent,
   14em 9em #825A16,
   15em 9em #825A16,

   0em 10em #FEBB91,
   1em 10em #FEBB91,
   2em 10em #FEBB91,
   3em 10em red,
   4em 10em red,
   5em 10em red,
   6em 10em red,
   7em 10em blue,
   8em 10em blue,
   9em 10em blue,
   10em 10em blue,
   11em 10em #FFFD38,
   12em 10em blue,
   13em 10em blue,
   14em 10em #825A16,
   15em 10em #825A16,

   0em 11em #FEBB91,
   1em 11em #FEBB91,
   2em 11em transparent,
   3em 11em transparent,
   4em 11em blue,
   5em 11em red,
   6em 11em blue,
   7em 11em blue,
   8em 11em #FFFD38,
   9em 11em blue,
   10em 11em blue,
   11em 11em blue,
   12em 11em blue,
   13em 11em blue,
   14em 11em #825A16,
   15em 11em #825A16,

   0em 12em transparent,
   1em 12em transparent,
   2em 12em #825A16,
   3em 12em #825A16,
   4em 12em #825A16,
   5em 12em blue,
   6em 12em blue,
   7em 12em blue,
   8em 12em blue,
   9em 12em blue,
   10em 12em blue,
   11em 12em blue,
   12em 12em blue,
   13em 12em blue,
   14em 12em #825A16,
   15em 12em #825A16,

   0em 13em transparent,
   1em 13em #825A16,
   2em 13em #825A16,
   3em 13em #825A16,
   4em 13em blue,
   5em 13em blue,
   6em 13em blue,
   7em 13em blue,
   8em 13em blue,
   9em 13em blue,
   10em 13em transparent,
   11em 13em transparent,
   12em 13em transparent,
   13em 13em transparent,
   14em 13em transparent,
   15em 13em transparent,

   0em 14em transparent,
   1em 14em #825A16,
   2em 14em #825A16,
   3em 14em transparent,
   4em 14em transparent,
   5em 14em transparent,
   6em 14em transparent,
   7em 14em transparent,
   8em 14em transparent,
   9em 14em transparent,
   10em 14em transparent,
   11em 14em transparent,
   12em 14em transparent,
   13em 14em transparent,
   14em 14em transparent,
   15em 14em transparent,

   0em 15em transparent,
   1em 15em transparent,
   2em 15em transparent,
   3em 15em transparent,
   4em 15em transparent,
   5em 15em transparent,
   6em 15em transparent,
   7em 15em transparent,
   8em 15em transparent,
   9em 15em transparent,
   10em 15em transparent,
   11em 15em transparent,
   12em 15em transparent,
   13em 15em transparent,
   14em 15em transparent,
   15em 15em transparent;
}

/* BOTTOM NAVIGATION */

.navigation {
   position: absolute;
   bottom: 5%;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: flex-end;
   justify-content: center;

   margin: 0 auto;

   font-size: 2rem;
}

.navigation a:nth-child(2) {
   padding: 0 30px;
}

.navigation a:hover {
   cursor: pointer;
   opacity: 1;
   color: red;
}

.navigation a:active {
   transform: translateY(1px);
}

a {
   text-decoration: none;
   opacity: 0.6;
   color: red;
}


/* MEDIA QUERIES */

@media screen and (max-width: 850px) and (orientation: landscape) {
   .navigation {
      position: relative;
      margin: 0 auto 5%;
   }
}